@font-face {
    font-family: charter;
    src: url(fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url(fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url(fonts/charter-bold.otf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: charter;
    src: url(fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: 700;
}
:root {
    font-size: 18px;
    --mygray30: #212121;
    --mygray20: #212429;
    --mygray15: #424242;
    --mygray10: #616161;
}
body {
    color: var(--mygray30);
    font-family: 'Roboto', sans-serif;
    /* font-family: charter; */
}
a {
    color:var(--mygray30);
}
header {
    font-size: 14px;
    color: var(--mygray10);
}
header a {
    color: var(--mygray10);
    text-decoration: none;
    /* (esto sirve para cambiar el color de los enlaces ya que no lo hereda del header si no del a que esta arriba y el text decoration none es para sacar el subrallado, si lo quisieramos agregar un subrallado es text-decoration: underline;) */
}
header a:hover{
    color: var(--mygray30);
}
nav details summary{
    font-weight: bold;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 2em;
    /* el font size en este caso seria de 32px porque el em esta reaccionando a los 16px que tiene por defecto el elemento mas cercano al root (html en este caso) y no esta reaccionando a los 60 px de h1 porque no esta anidado dentro de este, si h2 estuviera anidada dentro de un body con font size de 60px, los px de este h2 serian de 120 no de 32. */
}
h3 {
    font-size: 1.5em;
}
pre {
    background: #FEC62E;
}
.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .38), transparent), url('images/patron-1.png');
    height: 350px;
}
.section-content {
    counter-reset: titleList;
}
.section-content h3{
        counter-increment: titleList;
    }
.section-content h3::before{
content: counter(titleList) ".";
}
.section-content h3::after{
    content: '';
    width: 32px;
    height: 4px;
    background: var(--mygray15);
    display: inline-block;
}